/* select */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }

  /* commons*/
body{
    font-family: fredoka, sans-serif;
   
}

.covid-alert {
    text-align: center;
    background: #002a5c;
    line-height: 1.5em;
}


