<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <link rel="stylesheet" th:href="@{/department.css}">
    <title>Courses</title>
  </head>
  <body>
  <nav th:replace="fragments :: navbar('courses')"></nav>
  <div>
    <h1>Courses</h1>
  </div>
  <div class="container-fluid">
  <table class="table table-bordered table-light">
  <thead>
    <tr class="table-info">
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Period</th>
      <th scope="col">Year</th>
      <th scope="col">CFU</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="courses : ${coursesList}" scope="row">
    <td th:text="${courses.getName()}"></td>
    <td  th:text="${courses.getDescription()}"></td> 
    <td th:text="${courses.getPeriod()}"></td>
    <td th:text="${courses.getYear()}"></td>
    <td th:text="${courses.getCfu()}"></td>
    <td th:text="${courses.getWebsite()}"></td>
   
    </tr>
  </tr>
  </tbody>
  </table>
  </div>
  <!-- <div class="container-fluid">
  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>