<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <th:block th:fragment="risorse-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</th:block>
</head>


<body>

<nav th:fragment="navbar(current)" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <img src="/img/logo-unipa-2020.png" alt="" width="80" height="30">
    <a class="navbar-brand" href="/">University</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:classappend="${current == 'departments'} ? active : not-active" href="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${current == 'courses'} ? active : not-active" href="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${current == 'degrees'} ? active : not-active" href="/degrees">Degrees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:classappend="${current == 'teachers'} ? active : not-active" href="/teachers">Teachers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>